# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment variables / secrets
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# Streamlit cache
.streamlit/

# Jupyter (if you ever use)
.ipynb_checkpoints/